---
import { personalLinks } from "@/assets/data";
import Icon from "../ui/Icon.astro";
import Link from "../ui/Link.astro";
---

<section class="space-y-3">
  <p class="text-white">
    I'm a software engineer who builds with taste. I'm not a designer, but I act
    like one when it counts — focused on how things look, work, and feel to use.
    Working remotely from Neuquén, Argentina.
  </p>
  <p>
    Currently working at <Link href="https://mechanized.ai" target="_blank"
      >Mechanized AI <Icon name="link" /></Link
    >, where we're using AI to help companies modernize legacy codebases.
  </p>
  <p>
    In my free time, I explore game design and dev. Right now, I'm diving into
    monorepos and reading <Link
      href="https://www.amazon.com/Full-Stack-Tao-Practical-software-Programming-ebook/dp/B0DTYDDS6Z"
      target="_blank">Full Stack Tao <Icon name="link" /></Link
    > by Alex Kondov.
  </p>
  <p>
    Let’s connect on <Link href={personalLinks.linkedin} target="_blank"
      >LinkedIn <Icon name="link" /></Link
    >.
  </p>
</section>
